<ion-header>
  <ion-toolbar>
    <ion-title>{{ recipe ? 'Editar Receta' : 'Nueva Receta' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="recipeForm" (ngSubmit)="saveRecipe()">
    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Ingredientes</ion-label>
      <ion-textarea formControlName="ingredients"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Cocinero</ion-label>
      <ion-select formControlName="chef">
        <ion-select-option *ngFor="let chef of chefs" [value]="chef.id">
          {{ chef.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-footer>
      <ion-button expand="block" type="submit" [disabled]="recipeForm.invalid">
        Guardar
      </ion-button>
    </ion-footer>
  </form>
</ion-content>
